button.date-item{
  background-color: var(--background-secondary);
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
button.date-item:hover{
  background-color: var(--secondary);
  color: whitesmoke;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  padding-left: 30px;
}
div.date-dropdown{
  background-color: var(--background-secondary);
  border: 1px solid grey;
}
button.date-dropdown-button{
  padding: 10px;
  background-color: var(--background-secondary);
  color: whitesmoke;
  border: 1px solid grey;
  border-radius: 10px;
}
button.date-dropdown-button:hover{
  padding: 10px;
  background-color: var(--secondary);
  color: whitesmoke;
  border: 1px solid grey;
}
