<div class="container-fluid">
  <section id = "reg-holder">
    <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <h1 class="text-center heading">Sign up</h1>

      <section class="form-group d-flex w-100 justify-content-center" style="padding: 0.2% 0">
        <div class = "w-50">
          <label for="email">
            Email*:
          </label>
          <input id="email" class="form-control"  type="email" formControlName="email" placeholder="email@example.com">
          <div class = "d-block pt-1">
             <span class="error-message" *ngIf="email && email.touched && email.invalid && email.errors?.['required']">
                <small>Required field</small>
             </span>
            <span class="error-message" *ngIf="email && email.touched && email.invalid && !email.errors?.['required'] && email.errors?.['emailRequirements']">
              <small>Invalid Email</small>
            </span>
            <span class="error-message" *ngIf="email && email.errors?.['unavailable']">
                <small>There is already an account associated with this email</small>
            </span>
          </div>
        </div>
      </section>

      <section class="form-group d-flex w-100 justify-content-center" style="padding: 0.2% 0">
        <div class = "w-50">
          <label for="username">
            Username*:
          </label>
          <input id="username" class="form-control" type="text" formControlName="username" placeholder="Enter your username">
          <div class = "d-block pt-1">
             <span class="error-message" *ngIf="username && username.touched && username.invalid && username.errors?.['required']">
               <small>Required Field</small>
             </span>
             <span class="error-message" *ngIf="username && username.touched && username.invalid && (username.errors?.['minlength'] || username.errors?.['maxlength'])">
               <small>Username must be between 3 and 50 characters long</small>
             </span>
            <span class="error-message" *ngIf="username && username.errors?.['unavailable']">
              <small>This username is unavailable</small>
            </span>
          </div>
        </div>
      </section>

      <div class = "d-flex justify-content-center w-100">
        <div class = "w-50">
          <label for="password">
            Password:
          </label>
        </div>
      </div>
      <section class="form-group d-flex w-100 justify-content-center" style="padding: 0.2% 0">
         <div class = "w-50 d-inline-flex">
           <div class = "w-75">
             <input id="password" class="form-control" [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Enter your password">
             <div class = "d-block pt-1">
               <span class="error-message" *ngIf="password && password.touched && password.invalid && password.errors?.['required']">
               <small>
                 Required field
               </small>
               </span>
               <span class="error-message" *ngIf="password && password.touched && password.invalid && !password.errors?.['required'] && password.errors?.['passwordRequirements']">
                <small>
                    Invalid password
                </small>
              <button type="button" class="btn btn-outline-danger" (click)="showPasswordRequirements()">?</button>
            </span>
             </div>
           </div>
           <div class = "btn align-middle p-1 text-center">
             <button type="button" class = "btn align-middle p-1 text-center" (click)="hidePassword = !hidePassword">
               <fa-icon class = "text-white" [icon]="hidePassword ? icons[0] : icons[1]"></fa-icon>
             </button>
           </div>
          </div>
        </section>
      <section class = "d-flex w-100 justify-content-center">
        <div class = "w-50 d-flex row">
          <div class = "col-12 col-md-6 pt-1">
            <button type="submit" class="btn button button-primary w-100" [disabled]="!registrationForm.valid">Sign up</button>
          </div>
          <div class = "col-12 col-md-6 pt-1">
            <button type="button" class="btn button button-secondary w-100" (click)="goToLogin()">Back to login</button>
          </div>
        </div>
      </section>
    </form>
  </section>
</div>
