input.ng-invalid.ng-touched {
  border: var(--danger) 2px solid;
}

.error-message {
  color: var(--danger);
}

.btn-outline-danger {
  border-radius: 70%;
  font-size: 11px;
}

.i {
  margin-left: -30px;
  cursor: pointer;
}

body {
  background-color: var(--background-color);
}

.heading {
  color: whitesmoke;
  font-size: 44px;
}

.form {
  color: whitesmoke;
}

