<nav style="z-index: 1000" class="navbar navbar-expand-lg navbar-light bg-light position-sticky top-0" >
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/games']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/news']">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/info']">About us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="http://localhost:8080/login">Login</a>
          <a class="dropdown-item" [routerLink]="['/registration']">Sign up</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
