<div class = "container-fluid d-block d-sm-block d-md-block d-lg-block d-xl-block">
    <div *ngIf="userReview && (userReview.contenuto && userReview.contenuto.length > 0)">
      <h2 class = "text-white text-center" style="font-weight: bold">Your Review</h2>
      <app-game-review [review]="userReview"></app-game-review>
    </div>
    <div class="text-center" *ngIf="!userReview || (userReview && userReview.titolo == null)">
      <h2 class = "text-white text-center" style="font-weight: bold">Your Review</h2>
      <p class = "text-white text-center" style="font-size: 17px">You haven't written a review on this game yet</p>
      <a class = "btn btn-lg text-decoration-none text-white" style="background-color: var(--primary)" routerLink="../../{{gameID}}/newRecensione" [queryParams]="this.springHandler.getParams()">Write a new review</a>
    </div>
    <div *ngIf="reviews && reviews.length > 0">
      <h2 class = "text-white text-center" style="font-weight: bold;">Reviews</h2>
      <app-game-review *ngFor="let current of reviews" [review]="current"></app-game-review>
    </div>
    <div *ngIf="!reviews || (reviews && reviews.length == 0)">
      <h2 class = "text-white text-center" style="font-weight: bold">Reviews</h2>
      <p class = "text-white text-center" style="font-size: 17px">No review found</p>
    </div>
</div>
