<div infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="scroll()" class = "container-fluid row mx-auto" *ngIf="shouldBeVisible && !loadingVisible">
  <app-game-card class = "col-12 col-sm-6 col-lg-3" *ngFor="let current of games" [game]="current"></app-game-card>
  <div *ngIf="increasingPage" class = "col-12 mt-2 custom-spinner">
    <mat-progress-spinner diameter="50" class = "mx-auto" color="accent" mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="maxReached" class = "col-12 mt-2">
    <p class = "text-white text-center" style="font-size: 20px">No more games found</p>
  </div>
</div>
<div  class="h-100 d-flex mt-2 mt-md-0 align-items-start align-items-md-center justify-content-start justify-content-md-center"  *ngIf="!shouldBeVisible && !loadingVisible">
  <div class = "container-fluid text-center">
    <h2 class = "text-white">Research Failed,games not found</h2>
    <button class = "btn btn-lg btn-secondary" (click)="handleClick()">Reset Search</button>
  </div>
</div>
<div class="h-100 d-flex mt-2 mt-md-0 align-items-start align-items-md-center justify-content-start justify-content-md-center">
  <div class = "container-fluid text-center">
    <p class = "text-white text-center loadingText">Searching Games...</p>
    <mat-progress-spinner diameter=70 class = "mx-auto" color="accent" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
