<div infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="scroll()" class = "container-fluid row mx-auto" *ngIf="shouldBeVisible && !loadingVisible">
  <app-game-card class = "col-12 col-sm-6 col-md-6 col-lg-3 col-lg-3" *ngFor="let current of games" [game]="current"></app-game-card>
  <div *ngIf="increasingPage" class = "col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2 custom-spinner">
    <mat-progress-spinner diameter="50" class = "mx-auto" color="accent" mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="maxReached" class = "col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2">
    <p class = "text-white text-center" style="font-size: 20px">No more games found</p>
  </div>
</div>
<div class = "container-fluid text-center overflow-auto" style="height:800px;padding-top: 20%;font-weight: bold" *ngIf="!shouldBeVisible && !loadingVisible">
  <h2 class = "text-white">Research Failed,games not found</h2>
  <button class = "btn reset-button" (click)="handleClick()">Reset Search</button>
</div>
<div class = "container-fluid text-center overflow-auto" style="height: 800px;padding-top: 20%;font-weight: bold" *ngIf="loadingVisible">
  <p class = "text-white text-center loadingText">Searching Games...</p>
  <mat-progress-spinner diameter=70 class = "mx-auto" color="accent" mode="indeterminate"></mat-progress-spinner>
</div>
