<div class = "d-block w-100">
  <div class = "d-inline-flex">
    <img *ngIf="nameImage" [src]="nameImage" alt = "Image Not Found">
    <fa-icon class = "text-white" *ngIf="nameIcon && !nameImage" [icon]="nameIcon" style="font-size: 25px"></fa-icon>
    <h3 class = "text-white" style="padding-left: 5px;padding-right: 5px">{{name}}:</h3>
  </div>
  <div class = "text-holder overflow-scroll w-100 d-inline-flex">
    <div class = "item text-center" *ngFor="let current of overflowItems">
      <img *ngIf="current.image" class = "item-image" [src]="current.image" alt="Not Found">
      <fa-icon *ngIf="current.icon && !current.image" class = "item-icon" [icon]="current.icon"></fa-icon>
      <span class = "item-text" style="padding-left: 5px;padding-right: 5px">{{current.name}}</span>
    </div>
  </div>
</div>
