a.item{
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  color: whitesmoke;
  text-align: center;
  background-color: var(--background-secondary);
  margin-left: 7px;
  text-decoration: none;
}
a.item:hover{
  color: whitesmoke;
  text-decoration-color: whitesmoke;
  text-decoration: underline;
  background-color: var(--secondary);
}
span.item-text{
  cursor: pointer;
  padding: 0 5px;
  min-width: 100px;
}
div.text-holder{
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 20px;
}
fa-icon.item-icon{
  font-size: 20px;
}
img.item-image{
  width: 40px;
  height: auto;
}
