<section class = "container py-4">
  <div class = "row">
    <div class = "col-12 col-md-4" style="background-color: var(--primary)"></div>
    <app-about-us-section [name]="'Andrea Marchio'" [matricola]="'223401'" [stringLinks]="firstSectionLinks" [techUsed]="['Angular','Spring (Rest Controller)','Dao']" class = "col-12 col-md-8"></app-about-us-section>
  </div>
  <div class = "row mt-4">
    <div class = "col-12 col-md-4" style="background-color: var(--primary)"></div>
    <app-about-us-section class = "col-12 col-md-8" [name]="'Pierluigi Altimari'" [matricola]="'219886'" [stringLinks]="secondSectionLinks" [techUsed]="['Angular','Spring (Rest Controller)','Dao','Thymeleaf']"></app-about-us-section>
  </div>
  <div class = "row mt-4">
    <div class = "col-12 col-md-4" style="background-color: var(--primary)"></div>
    <app-about-us-section class = "col-12 col-md-8" [name]="'Francesca Filice'" [matricola]="'220119'" [stringLinks]="thirdSectionLinks" [techUsed]="['Angular','Spring (Servlet)', 'Spring (Rest Controller)']"></app-about-us-section>
  </div>
  <div class = "row mt-4">
    <div class = "col-12 col-md-4" style="background-color: var(--primary)"></div>
    <app-about-us-section class = "col-12 col-md-8" [name]="'Piero Stalteri'" [matricola]="'220248'" [stringLinks]="fourthSectionLinks" [techUsed]="['Angular','Spring (Servlet)','Dao']"></app-about-us-section>
  </div>
</section>
