<ng-template #content let-offcanvas>
  <div class = "offcanvas-header text-white" style="background-color: var(--background-color)">
    <h4 class = "offcanvas-title">Select Filters</h4>
    <button type="button" class = "btn-close btn-close-white" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <app-side-bar [isScrollable]="false" class = "offcanvas-body" style="background-color: var(--background-color)"></app-side-bar>
</ng-template>
<div class = "text-center">
  <button class="w-100 text-decoration-none text-white" style="font-size: 17px;background-color: var(--primary);padding: 10px;border-radius: 10px" (click)="open(content)">Show filters</button>
</div>
