<ng-template #content let-offcanvas class = "offCanvas">
  <div class = "offcanvas-header text-white" style="background-color: #151515">
    <h4 class = "offcanvas-title">Select Filters</h4>
    <button type="button" class = "btn-close btn-close-white" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <app-side-bar [isScrollable]="false" class = "offcanvas-body" style="background-color: #151515"></app-side-bar>
</ng-template>
<button class="btn btn-lg btn-secondary w-100" (click)="open(content)">Mostra Filtri</button>
