button.sort-item{
  background-color: #121212;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
button.sort-item:hover{
  background-color: whitesmoke;
  color: #151515;
  text-decoration: underline;
  text-decoration-color: #151515;
  padding-left: 30px;
}
div.sort-dropdown{
  background-color: #121212;
  border: 1px solid grey;
}
button.sort-dropdown-button{
  padding: 10%;
  background-color: #121212;
  color: whitesmoke;
  border: 1px solid grey;
}
