<ngx-spinner bgColor="rgba(51,51,51,0.8)" type="ball-scale-multiple" [fullScreen]="true">
  <h2 class = "text-white">Searching Game Details...</h2>
</ngx-spinner>
<h1 class = "text-white text-center">{{this.springHandler.getCurrentUsername(true).username}}</h1>
<div class = "container" *ngIf="gameDetails">
    <app-game-main-info [gameInfo]="getGameInfo()"></app-game-main-info>
    <section class = "game-section" *ngIf="getTrailers(this.gameTrailers).length > 0 || getValues(this.gameScreenshots).length > 0">
      <app-game-details-media style="padding: 20px 0" [name]="'Media'" [trailers]="getTrailers(this.gameTrailers)"  [images]="getValues(this.gameScreenshots)"></app-game-details-media>
    </section>
    <section class = "game-section row">
      <app-game-review-list [gameID]="gameID" [reviews]="gameReviews" [userReview]="userReview" class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></app-game-review-list>
      <app-game-additional-info class = "col-12 col-sm-12 col-md-6 col-lg- xl-6 " [achievements]="getValues(this.gameAchievements)" [developers]="getValues(this.gameDetails.developers)" [publishers]="getValues(this.gameDetails.publishers)" [tags]="getValues(this.gameDetails.tags)"></app-game-additional-info>
    </section>
</div>
<app-connection-error *ngIf="failed"></app-connection-error>
