<button class="container-fluid row holder" *ngIf="review">
  <div class = "col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="color:inherit">
    <p class = "profile-name">{{review.profileName}}</p>
    <fa-icon *ngIf="selectedIcon" [icon]="selectedIcon" style="font-size: 70px"></fa-icon>
    <app-star-component [rating]="review.rating" style="font-size: 25px"></app-star-component>
  </div>
  <div class = "col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12" style="color: inherit">
    <p class = "review-title">{{review.reviewTitle}}</p>
    <p class = "review-preview">{{review.preview}}</p>
    <div class = "d-inline-flex w-50 justify-content-between" style="color: inherit">
      <button class = "d-inline-block interaction-button" style="width: 48%;color: inherit">
        <fa-icon [icon]="icons[0]" style="font-size: 25px"></fa-icon>
        <span class="interaction-text">{{review.likeCount}}</span>
      </button>
      <button class = "d-inline-block interaction-button" style="width: 48%;color: inherit">
        <fa-icon [icon]="icons[1]" style="font-size: 25px"></fa-icon>
        <span class="interaction-text">{{review.dislikeCount}}</span>
      </button>
    </div>
  </div>
</button>
