<div class="banner" style="background-image: linear-gradient(0deg, white 5%, rgba(255, 255, 255, 0.271) 100%), url('https://media.rawg.io/media/games/34e/34e100b1f648de99f32d477065f04653.jpg');">



  <div class="content">
    <section id="review_section" class="d-flex flex-column justify-content-center align-items-center">
      <form class="w-100" (ngSubmit)="(isNewReview() ? publishReview() : editReview())" [formGroup]="form" *ngIf="this.isEditMode; else htmlReview">

        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input maxlength="40" formControlName="titolo" type="text" class="form-control" placeholder="titolo" >
          <div *ngIf="form.controls.titolo.errors  && (form.dirty || form.touched)" class="text-danger">
            Title is required
          </div>
        </div>

        <!-- editor form -->
        <div *ngIf="form.hasError('required', 'title')">EEEE</div>
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
          <ngx-editor placeholder="scrivi qui bello" [editor]="editor" formControlName="contenuto"> </ngx-editor>
        </div>
        <div *ngIf="form.invalid && (form.dirty || form.touched)" class="text-danger">
          <div *ngIf="form.hasError('minlength', 'contenuto')">
            Minimum Characters Required {{form.getError("minlength", "contenuto")?.actualLength}} / {{form.getError("minlength", "contenuto")?.requiredLength}}
            </div>
          <div *ngIf="form.hasError('required', 'contenuto')">
              Review is required
          </div>
        </div>

        <select class="form-select form-select-sm" formControlName="voto">
          <option *ngFor="let vote of votes" [value]="vote">{{vote}}/10</option>
        </select>

        <button style="text-align: center;"  type="submit" [disabled]="form.invalid || !form.dirty || this.publishReviewStatus.isLoading">{{!isNewReview() ? 'CONFERMA MODIFICHE' : 'PUBBLICA' }}</button>
      </form>


      <ng-template #htmlReview>
      <h1>{{review.titolo}}</h1>
      <div class="w-100" id="review" [innerHtml]="sanitizer.bypassSecurityTrustHtml(this.review.contenuto)"></div>
      <h1>{{review.voto}}/10</h1>
      </ng-template>

      <button *ngIf="!this.isNewReview() && review.utente === loggedUser" [disabled]="this.publishReviewStatus.isLoading" (click)="this.setEditMode(!this.isEditMode)">{{!this.isEditMode ? "MODIFICA" : "ANNULLA MODIFICHE"}}</button>


    </section >
    <section class="" *ngIf="!this.isNewReview()" [immediateCheck]="true" infiniteScroll (scrolled)="loadNewComments()" id="commentsSection">


      <h3>Sezione Commenti</h3>
      <section *ngIf="this.loggedUser !== undefined; else athenticationText">
        <textarea [formControl]="newCommentFormControl" placeholder="Scrivi commento..." class="w-100 ny-4" autosize [minRows]="1" [maxRows]="15" style="resize: none;"></textarea>
        <button [disabled]="this.addCommentStatus.isLoading || newCommentFormControl.invalid" (click)="addComment()">PUBBLICA</button>
      </section>
      <ng-template #athenticationText>
        <h5>Per poter commentare devi esserti autenticato; Esegui il <a href="">login</a></h5>
      </ng-template>
      <app-comment class="my-2" *ngFor="let comment of comments" [comment]="comment" [loggedUser]="this.loggedUser" (onDelete)="deleteComment($event)"></app-comment>
    </section>





</div>


