<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">News</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- qui inserisci gli item -->
    <app-search-bar (searchValueChanged)="updateKeywords($event)"></app-search-bar>
    <app-date-filter (dateValueChanged)="updateDateRange($event)"></app-date-filter>
  </div>

</nav>

<div class="container-fluid">
  <app-news-results></app-news-results>
</div>
