<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen] = "true">
  <h2 class = "text-white">Searching Genres...</h2>
</ngx-spinner>
<div *ngIf="!failed" class = "container-fluid row mx-auto h-100" style="padding: 2%">
  <app-offcanvas-side-bar class = "col-12 w-100 d-block d-md-none" style="z-index: 100"></app-offcanvas-side-bar>
  <app-side-bar [isScrollable] = "true" class = "position-fixed col-md-3 col-lg-2 d-none d-md-block" style="z-index:100"></app-side-bar>
  <app-result-page class = "h-100 col-12 col-md-9 col-lg-10 offset-md-3 offset-lg-2"></app-result-page>
</div>
<app-connection-error class = "h-100" *ngIf="failed"></app-connection-error>
