img#gameImage{
  width: 100%;
  height: auto;
  border-radius: 30px;
}
p.game-name{
  font-size: 30px;
  font-weight: bold;
}
a.game-link{
  font-size: 17px;
  color: whitesmoke;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  background-color: #212529;
}
a.game-link:hover{
  background-color: #6D42BA;
  color: whitesmoke;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}
