div.firstModal{
  background-color: #2c264a;
  color: whitesmoke;
}
div.secondModal{
  background-color: #212529;
  color: whitesmoke;
}
div.thirdModal
{
  background-color: #2c264a;
  color: whitesmoke;
}
