<ng-template #content let-modal>
  <div class="modal-header firstModal">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body secondModal">
    <p>{{text}}</p>
  </div>
  <div class="modal-footer thirdModal">
    <button mat-flat-button color="primary" type="button" class="text-white" (click)="modal.close('Save click')">{{buttonText}}</button>
  </div>
</ng-template>
<hr />
