div.firstModal{
  background-color: var(--secondary);
  color: whitesmoke;
}
div.secondModal{
  background-color: var(--background-secondary);
  color: whitesmoke;
}
div.thirdModal
{
  background-color: var(--background-secondary);
  color: whitesmoke;
}
