<div class = "row container-fluid" style="padding: 20px" *ngIf="gameInfo">
  <div class = "col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 d-block">
    <img id = "gameImage" [src]="gameInfo.image" alt = "Not Found">
    <ul class = "list-group" style="padding: 2% 0">
      <a class = "game-website list-group-item" href="{{gameInfo.website}}">Visit website</a>
      <a class = "game-reddit-url list-group-item" href="{{gameInfo.reddit_url}}">Visit reddit</a>
    </ul>
  </div>
  <div class = "col-xl-9 col-lg-9 col-md-9 col-sm-9 col-12 d-block">
    <p class = "text-white text-center game-name">{{gameInfo.name}}</p>
    <p class = "text-white game-description">{{gameInfo.description}}</p>
  </div>
</div>
