img#gameImage{
  width: 100%;
  height: 350px;
  border-radius: 30px;
}
ul.gameLinks{
  padding: 10px 0;
}
p.game-name{
  font-size: 30px;
  font-weight: bold;
}
p.game-description{
  font-size: 17px;
  font-weight: normal;
}
a
{
  background-color: #151515;
  color: whitesmoke;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
a:hover{
  background-color: whitesmoke;
  color: #151515;
  text-decoration: underline;
  text-decoration-color: #151515;
}
a.game-website{
  font-size: 17px;
}
a.game-reddit-url{
  font-size: 17px;
}
