<a class = "card game-card text-center" *ngIf="game" [routerLink]="[game.id]" [queryParams]="this.springHandler.getParams()">
  <img class = "card-img-top" style="width: 100%;height: auto" [lazyLoad]="game.img" [defaultImage]="'assets/images/not-found.png'">
  <div class = "card-body">
    <app-platform-list [platforms]="game.platforms"></app-platform-list>
    <h3 class = "card-title">{{game.name}}</h3>
    <app-star-component [rating]="game.metacritic"></app-star-component>
    <div class = "d-inline-flex justify-content-center w-100">
      <fa-icon [icon]="faCalendarDays" style="font-size: 25px"></fa-icon>
      <p class = "card-text" style="padding: 2%">{{game.released}}</p>
    </div>
    <p class = "card-text">{{getGenres()}}</p>
  </div>
</a>
