a.game-card{
  width: 100%;
  height: auto;
  margin-top: 10px;
  background-color: #212529;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
a.game-card:hover{
  background-color: #6D42BA;
  color: whitesmoke;
}
