<div class = "card text-white mt-5" style="background-color: var(--background-secondary);border-radius: 30px">
  <div class = "card-body row">
    <div class = "col-12 col-md-4">
      <img [src]="image" class = "w-100 h-auto pt-4" alt = "Not Found">
    </div>
    <div class = "col-12 col-md-8">
      <div class = "text-start py-2">
        <fa-icon class = "px-2" [icon]="userIcon" style="font-size: 30px"></fa-icon>
        <h3 class = "px-2 d-inline-block" style="font-weight: bold">{{name}}</h3>
        <h3 class = "px-2 d-inline-block" style="font-weight: bold">{{matricola}}</h3>
        <ul class = "list-group list-group-flush" style="list-style-type: none">
          <li class = "func-description mt-2" *ngFor="let current of stringLinks">
            <a *ngIf=!current.spring [routerLink]="[current.url]" [queryParams]="springHandler.getParams()" class = "list-group-item func-link">{{current.name}}</a>
            <a *ngIf="current.spring" [href]="current.url" class = "list-group-item func-link">{{current.name}}</a>
          </li>
        </ul>
        <div class = "row p-2">
          <div class = "col-12 col-md-6" *ngFor="let current of pictureCaptions">
            <figure class = "w-100">
              <img [src]="current.img" class = "w-100 h-auto rounded-3">
              <figcaption class = "text-white text-center">{{current.caption}}</figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class = "py-2">
        <app-text-overflow [name]="'Elenco delle tecnologie utilizzate'" [overflowItems]="createItems()"></app-text-overflow>
      </div>
    </div>
  </div>
</div>

