button.side-item-button{
  background-color: #121212;
  color: whitesmoke;
  border-top: 1px solid grey;
  transition: all 0.2s ease-in-out;
}
span.side-item-text{
  padding-left: 2%;
  padding-right: 2%;
}
button.side-item-button:hover{
  background-color: whitesmoke;
  color: #121212;
  text-decoration: underline;
  text-decoration-color: #121212;
  padding-left: 40px;
}
img.side-img{
  width: 80px;
  height: auto;
  border-radius: 40px;
}
