/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* Altri temi material: */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

:root {
  --background-color: #151515;
  --background-secondary: #212529;
  --primary: #5730aa;
  --secondary: #2c264a;
}

*
{
  box-sizing: border-box;
}
body
{
  background-color: var(--background-color);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #151515;
}
::-webkit-scrollbar-thumb {
  background: #888;
  width: 6px;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-corner{
  background: #151515;
}
:root
{
  --background-color: #151515;
  --background-secondary: #212529;
  --primary: #5730aa;
  --secondary: #2c264a;
}
