<div class = "container game-holder">
  <section id = "tags-section" *ngIf="gameDetails && gameDetails.tags">
    <h2 class = "text-white">Tags</h2>
    <span class = "text-white text-item bg-dark" *ngFor="let current of gameDetails.tags">{{current.slug}}</span>
  </section>
  <section id = "achievement-section" *ngIf="gameAchievements">
    <h2 class = "text-white">Achievements</h2>
    <span class = "text-white text-item bg-dark" *ngFor="let current of gameAchievements">{{current.name}}</span>
  </section>
  <section id = "screenshot-section" *ngIf="gameScreenshots">
    <img class = "game-screenshot" *ngFor="let current of gameScreenshots"  [src]="current.image"  alt="Not Found">
  </section>
  <section id = "stores-section" *ngIf="gameDetails && gameDetails.stores">
    <h2 class = "text-white">Stores</h2>
    <span class = "text-white text-item bg-dark" *ngFor="let current of gameDetails.stores">{{current.name}}</span>
  </section>
  <section id = "developers-section" *ngIf="gameDetails && gameDetails.developers">
    <h2 class = "text-white">Developers</h2>
    <span class = "text-white text-item bg-dark" *ngFor="let current of gameDetails.developers">{{current.name}}</span>
  </section>
  <section id = "publishers-section" *ngIf="gameDetails && gameDetails.publishers">
    <h2 class = "text-white">Publishers</h2>
    <span class = "text-white text-item bg-dark" *ngFor="let current of gameDetails.publishers">{{current.name}}</span>
  </section>
</div>
