div.game-holder{
  background-color: #151515;
  color: whitesmoke;
}
img.game-screenshot{
  width: 100%;
  height: auto;
  padding: 10px 0;
}
span.text-item{
  padding: 5px;
  margin-left: 10px;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
}
span.text-item:hover{
  background-color: whitesmoke;
  color: #151515;
  text-decoration: black;
  text-decoration: underline;
}
