<h2 class = "text-white text-center" style="font-weight: bold" *ngIf="name">{{name}}</h2>
<div class = "container-fluid row">
  <app-video-selector [ngClass]= "images && images.length > 0 ? 'col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12' : 'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'" *ngIf="trailers" [source]="trailers[0]"></app-video-selector>
  <app-image-slider [ngClass] = "trailers  && trailers.length > 0 ? 'col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12' : 'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'" *ngIf="images" [images]="images"></app-image-slider>
</div>
