button.sort-item{
  background-color: #212529;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
button.sort-item:hover{
  background-color: #6D42BA;
  color: whitesmoke;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  padding-left: 30px;
}
div.sort-dropdown{
  background-color: #212529;
  border: 1px solid grey;
}
button.sort-dropdown-button{
  padding: 10px;
  background-color: #212529;
  color: whitesmoke;
  border: 1px solid grey;
}
button.sort-dropdown-button:hover{
  padding: 10px;
  background-color: #6D42BA;
  color: whitesmoke;
  border: 1px solid grey;
}
