<div class = "mt-2 mt-lg-0" *ngIf="shouldBeVisible">
  <div class = "d-inline-flex">
    <div ngbDropdown *ngIf="orderingTypeValues">
      <button ngbDropdownToggle class="custom-dropdown-button" type="button" id="dropdownTypeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{currentTypeSelected}}
      </button>
      <div class = "custom-dropdown" ngbDropdownMenu aria-labelledby="dropdownTypeButton">
        <button ngbDropdownItem class = "custom-item" *ngFor="let current of orderingTypeValues" (click)="updateType(current)">{{current}}</button>
      </div>
    </div>
    <div class="offset-1" ngbDropdown *ngIf="orderingModeValues">
      <button class = "custom-dropdown-button" ngbDropdownToggle type="button" id="dropdownModeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{currentModeSelected}}
      </button>
      <div class = "custom-dropdown" ngbDropdownMenu aria-labelledby="dropdownModeButton">
        <button ngbDropdownItem class = "custom-item" *ngFor="let current of orderingModeValues" (click)="updateMode(current)">{{current}}</button>
      </div>
    </div>
  </div>
</div>
