
<!-- report modal-->
<ng-template #reportModal let-modal>
  <div class = "d-block whitesmoke-text">
    <div class="modal-header secondary">
      <h4 class="modal-title" id="modal-basic-title">Report Form</h4>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="closeReportReview(false)"></button>
    </div>
    <div class="modal-body background-secondary-color">
      <label for="reasonTextArea">Report reason:</label>
      <textarea class="form-control secondary whitesmoke-text" id="reasonTextArea" [formControl]="reportFormControl" rows="3"></textarea>
      <p *ngIf="reportFormControl.invalid && (reportFormControl.dirty || reportFormControl.touched)" style="color: var(--danger);">Report reason is required</p>
    </div>
    <div class="modal-footer background-secondary-color" style="border: 0">
      <button class="btn button button-primary" type="button" (click)="closeReportReview(false)" >CLOSE</button>
      <button class="btn button button-danger" [disabled]="reportFormControl.invalid" type="submit" (click)="closeReportReview(true)">CONFIRM</button>
    </div>
  </div>
</ng-template>

<!-- review section-->
<div class="banner text-white" style="background-image: linear-gradient(0deg, var(--background-color) 8%, rgba(25, 25, 25,0.4) 100%), url('{{game.image}}');">

  <header *ngIf="!isNewReview()" class="d-flex p-2">
    <div class="w-50 text-muted">
      <span class="whitesmoke-text w-100">Review: <a [routerLink]="['/games', this.review.gioco]" [queryParams]="{jsessionid: this.springService.getSessionID(true)}">{{game.title}}</a></span>
      <div class="whitesmoke-text w-100">Written by: <span style="color: var(--lighter);">{{this.review.utente}}</span></div>
      <div class="whitesmoke-text w-100 text-muted">Date: {{this.review.data | date:'EEEE, MMMM d, y, h:mm:ss a'}}</div>
    </div>
    <section class="text-right w-50">
      <button class="btn button button-primary" (click)="openReportReview(reportModal)">Report</button>
      <button *ngIf="this.review.utente !== undefined && this.review.utente === this.loggedUser?.username" class="btn button button-danger" (click)="deleteReviewPrompt()">Delete Review</button>
      <button *ngIf="this.review.utente !== undefined && this.review.utente === this.loggedUser?.username" class="btn button button-secondary" [disabled]="this.isEditMode" (click)="this.setEditMode(true)">EDIT</button>
    </section>
  </header>

  <div class="content">
    <section id="review_section" class="d-flex flex-column justify-content-center align-items-center">
      <form class="w-100" (ngSubmit)="(isNewReview() ? publishReview() : editReview())" [formGroup]="form" *ngIf="this.isEditMode; else htmlReview">

        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input maxlength="40" formControlName="titolo" type="text" class="whitesmoke-text form-control background-secondary-color" placeholder="titolo" >
          <div *ngIf="form.controls.titolo.errors  && (form.dirty || form.touched)" class="text-danger">
            Title is required
          </div>
        </div>

        <!-- editor form -->
        <div *ngIf="form.hasError('required', 'title')">EEEE</div>
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
          <ngx-editor placeholder="write review..." [editor]="editor" formControlName="contenuto"> </ngx-editor>
        </div>
        <div *ngIf="form.invalid && (form.dirty || form.touched)" class="text-danger">
          <div *ngIf="form.hasError('minlength', 'contenuto')">
            Minimum Characters Required {{form.getError("minlength", "contenuto")?.actualLength}} / {{form.getError("minlength", "contenuto")?.requiredLength}}
            </div>
          <div *ngIf="form.hasError('required', 'contenuto')">
              Review is required
          </div>
        </div>

        <select class="form-select form-select-sm background-secondary-color whitesmoke-text" formControlName="voto">
          <option *ngFor="let vote of votes" [value]="vote">{{vote}}/10</option>
        </select>

        <section class="mt-2">
          <button *ngIf="!isNewReview()" class="btn button button-secondary" [disabled]="this.publishReviewStatus.isLoading" (click)="this.setEditMode(false)">DISCARD CHANGES</button>
          <button class="btn button button-primary" style="text-align: center;"  type="submit" [disabled]="form.invalid || !form.dirty || this.publishReviewStatus.isLoading">{{!isNewReview() ? 'SUBMIT' : 'PUBLISH' }}</button>
        </section>
      </form>
      <ng-template #htmlReview>
        <h1>{{review.titolo}}</h1>
        <div class="w-100" id="review" [innerHtml]="sanitizer.bypassSecurityTrustHtml(this.review.contenuto)"></div>
        <h1>{{review.voto}}/10</h1>
        <app-feedback class="background-secondary-color px-2 rounded-sm" [feedback]="this.review" [target]="this"></app-feedback>
      </ng-template>

    </section>
    <app-comment-list #commentsList [loggedUser]="loggedUser" [reviewId]="this.review.id" [jsessionid]="this.springService.getSessionID(true)"></app-comment-list>
</div>


